<%= form_for @customer, html: {multipart: true} do |f| %>
  <div class='container'>
     <div class='row'>
      <div class='col-sm-4'>Anzahl der Test durchführenden Personen</div>
      <div class='col-sm-3'><%= f.select :total_person, (1..8),{}, class: 'form-control' %></div>
     </div>  
     <br>
      <div class='row'>
        <div class='text-primary col-md-12 h5'>Angaben zur Person</div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Name</div>
        <div class='col-sm-6'><%= f.text_field :name, class: 'form-control' %></div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Vorname</div>
        <div class='col-sm-6'><%= f.text_field :first_name, class: 'form-control' %></div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Geb</div>
        <div class='col-sm-6'><%= f.text_field :dobs, class: 'form-control', placeholder: 'dd/mm/yyyy' %></div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Straße / Hausnummer</div>
        <div class='col-sm-6'><%= f.text_field :address, class: 'form-control' %></div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Postleitzahl / Ort</div>
        <div class='col-sm-6'><%= f.text_field :post, class: 'form-control' %></div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Telefon</div>
        <div class='col-sm-6'><%= f.text_field :phone, class: 'form-control' %></div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Email addresse</div>
        <div class='col-sm-6'><%= f.text_field :email, class: 'form-control' %></div>
      </div>
  </div>
  <% if @user.present? %>
    <div class='row'>
      <div class='col-sm-12'>
        <p>Ich bin damit einverstanden, dass das Schnelltestzentrum Gudrunstr. 6 im Falle eines positiven Covid-19-Schnelltestes die notwendigen persönlichen Daten (Name, Anschrift, E-Mail, Telefonnummer, Testergebnis) an das Gesundheitsamt der Bezirksämter in Berlin weitergibt. Das zuständige Gesundheitsamt …darf meine Daten dann zur direkten Kontaktaufnahme nutzen. </p>
      </div>
     </div>
  <% end %>
  <div class='container' >
      <div class='row'>
        <div class='text-primary col-md-12 h5'>Covid-Informationen</div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          Art der Leistung: Z.B. COVID 19 Schnelltest (Bürgertest)
        </div>
        <div class='col-sm-4'>
          <%= f.select :test_type, [['PoC-Antigen Test', 'poc'], ['PCR Test', 'pcr']], {}, require: true, class: 'form-control' %>
        </div>        
      </div>
      <div class='row'>
        <div class='col-sm-4'>Ergebnis des Tests</div>
        <div class='col-sm-6'>
          <%= f.select :test_result, ['Negative', 'Positive'], {}, require: true, class: 'form-control' %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Tag, Datum, Uhrzeit der Testdurchführung</div>
        <div class='col-sm-6 ml-2'>
        <%= f.date_field :test_date, class: 'col-3' %>
          <%= f.time_field :test_time, class: 'col-2' %>
          <%= f.text_field :test_day, class: 'col-4' %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Mitteilungsweg an die getestete Person</div>
        <div class='col-sm-6'>
         <%= f.select :result_type, ['Email', 'Inpapier', 'QR Code'], { include_blank: true }, require: true, class: 'form-control' %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Verwendeter PC Antigentest mit Test ID-Nr.</div>
        <div class='col-sm-6'><%= f.text_field :test_id, class: 'form-control' %></div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>Bestätigung der test durchführenden Person, Unterschrift, wichtig:</div>
        <div class='col-sm-6'><%= f.text_field :test_by, class: 'form-control' %>
          <div class='col-sm-6'>
            <%= f.hidden_field :user_signature %>
            <button type="button" id ='customer_user_signature_btn' class="btn btn-warning">Unterschrift</button>
          </div>
        </div>
      </div>
      <div class='row'>
      <div class='col-sm-4'>
        <label>Datum</label>
        <%= f.date_field :form_date, value: Date.today, class: 'form-control' %>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-sm-6'>
        <button type="button" id ='customer_signature_btn' class="btn btn-warning">Unterschrift</button>
      </div>
      <%= f.hidden_field :signature %>
    </div>
    <div class='row'>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div> 
  <% end %>